<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <div class="container">
        {% block body %}
            <div>
            I am an html element form base.html.twig
            </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </div>
    </body>
</html>
